@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Ubuntu', sans-serif;
}
@media (min-width: 376px) and (max-width: 640px) {
  .font{
    text-align: start;
    padding:8px;
  }
  .padding{
   display: flex;
   justify-content: center;
   align-items: center;
    
  }
}
